@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  @apply bg-background text-foreground;

  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --color-background: theme(colors.gray.50);
  --color-foreground: theme(colors.black);
  --color-cta: theme(colors.cyan.900);
  --color-cta-hover: theme(colors.cyan.700);
  --color-link: theme(colors.blue.600);
  --color-codebox: theme(colors.gray.900);
  --color-panel: theme(colors.gray.200);
  --color-on-background: theme(colors.gray.100);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: theme(colors.black);
    --color-foreground: theme(colors.gray.50);
    --color-cta: theme(colors.cyan.700);
    --color-cta-hover: theme(colors.cyan.500);
    --color-link: theme(colors.blue.400);
    --color-codebox: theme(colors.gray.200);
    --color-panel: theme(colors.gray.700);
    --color-on-background: theme(colors.gray.800);
  }
}

body:has(#small-nav.flex), body:has(#app-update) {
  @apply overflow-hidden;
}